# ignore log files and databases
*.log
*.sql
*.sqlite

# Wordpress
wp-admin
wp-includes
.htaccess
license.txt
readme.html
/*.php
!init.php
!wp-config-mysample.php

## WP Plugins
wp-content/plugins/*
!wp-content/plugins/aryo-activity-log
!wp-content/plugins/baw-login-logout-menu
!wp-content/plugins/capability-manager-enhanced
!wp-content/plugins/nav-menu-roles
!wp-content/plugins/wp-force-login
!wp-content/plugins/wp-maintenance-mode

## WP Themes
wp-content/themes/*
!wp-content/themes/simplified

## WP files
files
_data

# ignore env variables
.env